{% extends "layout.html.twig" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../assets/style/style.css">
{% endblock %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"> <i class="fas fa-arrow-left"></i> Home</a>
            </div>
        </nav>
    </header> 



    {% block content  %} 
        <main>
    
            <h1>Formulaire d'inscription</h1>

            <div id="containerForm">
                <form  method="post" name="formulaire">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" class="form-control textAligneCenter" aria-describedby="emailHelp" name="username" maxlength="100" required>

                        <div class="invalid-feedback" style="display: block">{{username}}</div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control textAligneCenter" aria-describedby="emailHelp" name="password" maxlength="100" required>
                        <div class="form-text">{{ password }}</div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Confirmation du mot de passe</label>
                        <input type="password" class="form-control textAligneCenter" aria-describedby="emailHelp" name="passwordConfirm" maxlength="100" required>
                        <div class="invalid-feedback" style="display: block">{{passwordConfirm}}</div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nom</label>
                        <input type="text" class="form-control textAligneCenter" aria-describedby="emailHelp" name="lastName" maxlength="100" required>
                        <div class="form-text">{{ lastName}}</div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Prénom</label>
                        <input type="text" class="form-control textAligneCenter" aria-describedby="emailHelp" name="firstName" maxlength="100" required>
                        <div class="form-text">{{ firstName }}</div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Adresse mail</label>
                        <input type="email" class="form-control textAligneCenter" aria-describedby="emailHelp" name="mail" maxlength="100" required>
                        <div class="form-text">{{mail}}</div>
                    </div>

                    <button type="submit" href="connecToGame" class="btn btn-outline-success">Inscription</button>
                </form>
            </div>


    
        </main>
    
    {% endblock %}


{% endblock %}



